.header {
  width: 1440px;
  height: 92px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 100px;
  box-sizing: border-box;

  position: relative;
  z-index: 1001;
}

.left img {
  height: 150px;
  width: auto;
  display: block;
}

.right {
  display: flex;
  align-items: center;
  gap: 32px;
}

.lang {
  display: flex;
  align-items: center;
  gap: 12px;

  font-family: 'Overpass', sans-serif;
  font-size: 14px;
}

.lang div {
  position: relative;
  cursor: pointer;
  padding: 4px 10px;

  border: 2px solid transparent;
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-align: right;
}

/* HOVER LINE */
.lang div::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;

  width: 0%;
  height: 2px;
  background: black;

  transform: translateX(-50%);
  transition: width 0.2s ease, background 0.2s ease;
}

.lang div:hover::after {
  width: 50%;
}

/* ACTIVE ONLY (GREEN) */
.lang div.active {
  border: 2px solid #00BC8F;
}

.lang div.active::after {
  width: 50%;
  background: #00BC8F;
}

/* BURGER */
.burger {
  width: 35px;
  height: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;
}

.burger span {
  height: 3px;
  width: 100%;
  background: black;
  border-radius: 2px;
}

/* MOBILE MENU */
.mobile-menu {
  position: fixed;
  inset: 0;

  background: #FFFCF3;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 40px;

  opacity: 0;
  pointer-events: none;

  transition: 0.3s ease;
  z-index: 999;
}

.mobile-menu.open {
  opacity: 1;
  pointer-events: all;
}

.menu-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.menu-item {
  font-size: 78px;
  font-family: 'Syne', sans-serif;
  cursor: pointer;
  color: black;
}