<div id="contact" class="contact">

  <img class="background-shape" src="assets/arrows/rectangle.svg" alt="">

  <div class="contact-inner">

    <div class="left">
      <h2>{{ 'contact.title' | translate }}</h2>
    </div>

    <div class="right">

      <div class="text">
        <p class="green-text">
          {{ 'contact.subtitle' | translate }}
        </p>

        <p class="description">
          {{ 'contact.description' | translate }}
        </p>
      </div>

      <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="sendEmail()">

        <div class="input-wrapper">
          <input type="text" formControlName="name" placeholder="{{ 'contact.name' | translate }}">
        </div>

        <div class="input-wrapper">
          <input type="email" formControlName="email" placeholder="{{ 'contact.email' | translate }}">
        </div>

        <div class="input-wrapper message-box">
          <textarea formControlName="message" placeholder="{{ 'contact.message' | translate }}"></textarea>
          <img class="message-icon" src="assets/arrows/group.svg" alt="">
        </div>

        <div class="privacy">
          <input type="checkbox" id="privacy" formControlName="privacy">

          <label for="privacy">
            {{ 'contact.privacy1' | translate }}
            <a routerLink="/privacy">{{ 'contact.privacy2' | translate }}</a>
            {{ 'contact.privacy3' | translate }}
          </label>
        </div>

        <button class="send-btn" type="submit">
          {{ 'contact.button' | translate }}
        </button>

        <div class="form-status success" *ngIf="emailSent">
          {{ 'contact.success' | translate }}
        </div>

        <div class="form-status error" *ngIf="emailError">
          {{ 'contact.error' | translate }}
        </div>

      </form>

    </div>

  </div>

  <div class="top-right" (click)="scrollToTop()">
    <img src="assets/arrows/arrow_top.svg" alt="">
  </div>

</div>