@font-face {
  font-family: 'Syne';
  src: url('assets/fonts/syne/syne-extra.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Overpass';
  src: url('assets/fonts/overpass/static/Overpass-Regular.ttf') format('truetype');
}

/* ganze Seite = Textschrift */
body {
  font-family: 'Overpass', sans-serif;
}

/* Titel */
h1, h2 {
  font-family: 'Syne', sans-serif;
  font-weight: 800;
}

/* deine "Zahl-Divs" */
.project-number {
  font-family: 'Syne', sans-serif;
}