.legal-wrapper {
  width: 100%;
  max-width: 980px;
  margin: 100px auto;
  padding: 0 20px;
  font-family: 'Overpass', sans-serif;

  /* WICHTIG */
  height: auto;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: visible;
}

/* TITLE */
.main-title {
  font-family: 'Syne', sans-serif;
  font-size: 78px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
}

/* HEADINGS */
.legal-wrapper h2 {
  font-size: 24px;
  font-weight: 800;
  color: #00BC8F;
  margin-top: 24px;
  margin-bottom: 8px;
  line-height: 1.2;
}

/* TEXT */
.legal-wrapper p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  margin-bottom: 10px;
}

/* LINKS */
.green {
  color: #00BC8F;
  font-weight: 700;
  text-decoration: none;
}

a[href^="mailto"] {
  text-decoration: none;
  color: inherit;
}

/* DATE */
.date,
.legal-date {
  margin-top: 24px;
  font-size: 14px;
}

/* FOOTER IMAGE */
.legal-footer {
  margin-top: 80px;
  position: relative;
  display: flex;
  justify-content: center;
}

.legal-rectangle {
  position: absolute;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);

  width: 100vw;
  height: auto;
  max-width: none;

  pointer-events: none;
}