.legal-wrapper {
  width: 980px;
  margin: 120px auto;
  font-family: 'Overpass', sans-serif;
}

/* =========================
   TITLE
========================= */

.main-title {
  font-family: 'Syne', sans-serif;
  font-size: 78px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 80px;
}

/* =========================
   TEXT SECTIONS (SCOPED!)
========================= */

.legal-wrapper h2 {
  font-family: 'Overpass', sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 120%;
  color: #00BC8F;
  margin-top: 40px;
  margin-bottom: 16px;
}

.legal-wrapper p {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: #000;
  margin-bottom: 16px;
}

/* =========================
   LINKS
========================= */

.green {
  color: #00BC8F;
  font-weight: 700;
  text-decoration: none;
}

a[href^="mailto"] {
  text-decoration: none;
  color: inherit;
}

a[href^="mailto"]:hover {
  text-decoration: none;
}

/* =========================
   DATE
========================= */

.date {
  margin-top: 40px;
  font-size: 14px;
}

/* =========================
   FOOTER SECTION
========================= */

.legal-footer {
  margin-top: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.legal-rectangle {
   position: absolute;
  bottom: -150px;

  left: 0;
  width: 170%;
  margin-right: 600px;
  height: auto;
  z-index: 1;
}

/* TEXT ON TOP */
.legal-footer-text {
  position: relative;
  z-index: 2;

  font-family: 'Overpass', sans-serif;
  font-size: 14px;
  color: #000;
  opacity: 0.8;
}