.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
}

/* left */
.left {
  a {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: black;
  }
}

/* MITTE */
.center {
  text-align: center;

  .title {
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 128px;
    line-height: 100%;
    letter-spacing: -0.025em;
    margin: 0;
  }

  .line {
    margin: 20px auto;
    display: block;
  }

  .name {
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 48px;
    margin: 0;
    color: #64bb99;
  }

}

/* right */
.right {
  display: flex;
  flex-direction: column;
  align-items: center;

  .arrow {
    width: 40px;
    margin-bottom: 10px;
  }

  .scroll {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    font-size: 22px;
    margin: 0;
  }
}