<section class="legal-wrapper">

  <h1 class="main-title">{{ 'privacy.title' | translate }}</h1>

  <p>{{ 'privacy.p1' | translate }}</p>
  <p>{{ 'privacy.p2' | translate }}</p>
  <p>{{ 'privacy.p3' | translate }}</p>

  <h2 class="green-title">{{ 'privacy.controllerTitle' | translate }}</h2>

  <p>
    {{ 'privacy.controllerText' | translate }}
  </p>

  <h2 class="green-title">{{ 'privacy.rightsTitle' | translate }}</h2>
  <p>{{ 'privacy.rightsText' | translate }}</p>

  <h2 class="green-title">{{ 'privacy.contactTitle' | translate }}</h2>
  <p>{{ 'privacy.contactText' | translate }}</p>

  <p>{{ 'privacy.legalBasis' | translate }}</p>

  <h2 class="green-title">{{ 'privacy.linkedinTitle' | translate }}</h2>

  <p>{{ 'privacy.linkedinText' | translate }}</p>

  <p>
    Privacy Policy:
    <a href="{{ 'privacy.linkedinLink' | translate }}" target="_blank">
      LinkedIn
    </a>
  </p>

  <!-- FOOTER RECTANGLE -->
  <div class="legal-footer">
    <img class="legal-rectangle" src="assets/arrows/rectangle_s.svg" alt="">
  </div>

</section>