<section class="legal-wrapper">

  <h1 class="main-title">{{ 'privacy.title' | translate }}</h1>

  <p>{{ 'privacy.p1' | translate }}</p>

  <p>{{ 'privacy.p2' | translate }}</p>

  <p>{{ 'privacy.p3' | translate }}</p>

  <h2>{{ 'privacy.controllerTitle' | translate }}</h2>

  <p>
    Magdalena Laurisch<br>
    Grünewalderstraße 92<br>
    42657 Solingen<br><br>
    Phone: 01633930971<br>
    Email: magdalena.laurisch@outlook.de
  </p>

  <h2>{{ 'privacy.rightsTitle' | translate }}</h2>

  <p>{{ 'privacy.rightsText' | translate }}</p>

  <h2>{{ 'privacy.contactTitle' | translate }}</h2>

  <p>{{ 'privacy.contactText' | translate }}</p>

  <p>{{ 'privacy.legalBasis' | translate }}</p>

  <h2>{{ 'privacy.linkedinTitle' | translate }}</h2>

  <p>{{ 'privacy.linkedinText' | translate }}</p>

  <p>
    Privacy Policy:
    <a href="https://www.linkedin.com/legal/privacy-policy" target="_blank">
      LinkedIn
    </a>
  </p>

  <div class="legal-footer">
    <img class="legal-rectangle" src="assets/arrows/rectangle_s.svg" alt="">
  </div>

</section>