@font-face {
  font-family: 'Overpass';
  src: url('/assets/fonts/overpass/static/Overpass-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne';
  src: url('/assets/fonts/syneextrabold/syne.extra.ttf') format('truetype');
}

body {
  background-color: #FFFCF3;
  font-family: 'Overpass', sans-serif;
}

h1,
h2 {
  font-family: 'Syne', sans-serif;
}