@font-face {
  font-family: 'Overpass';
  src: url('/assets/fonts/overpass/static/Overpass-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Syne';
  src: url('/assets/fonts/synebold/Syne-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Syne';
  src: url('/assets/fonts/syneextrabold/syne.extra.ttf') format('truetype');
  font-weight: 800;
}

body {
  background-color: #FFFCF3;
  font-family: 'Overpass', sans-serif;
}

h1,
h2 {
  font-family: 'Syne', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 92px; /* Höhe deines Headers */
}